<p id="notice"><%= notice %></p>

<h1>Listing User Wines</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Wine</th>
      <th>Stage</th>
      <th>Rating</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_wines.each do |user_wine| %>
      <tr>
        <td><%= user_wine.user %></td>
        <td><%= user_wine.wine %></td>
        <td><%= user_wine.stage %></td>
        <td><%= user_wine.rating %></td>
        <td><%= user_wine.review %></td>
        <td><%= link_to 'Show', user_wine %></td>
        <td><%= link_to 'Edit', edit_user_wine_path(user_wine) %></td>
        <td><%= link_to 'Destroy', user_wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User wine', new_user_wine_path %>
