<h1>Search for Wine</h1>
<h2>Products:</h2>

<%= form_tag(pages_search_path, :method => "get", id: "search-form", class: "form-inline") do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], :class => "form-control", placeholder: "Search Wines" %>
    <%= submit_tag "Search", :request_query => nil, :class => "btn btn-default" %>
  </div>
<% end %>

<div id="attribution">
  Search provided by
  <a href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts"><img src="http://cache.wine.com/images/logos/80x20_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" /></a>
</div>

<% @products.each do |wine| %>
  <%= image_tag(wine["Labels"][0]["Url"]) %><br>
  <b><%= wine["Name"] %></b> by <%= wine["Vineyard"]["Name"] %><br>
  <%= wine["Url"] %><br>
  Region, Country:  <%= wine["Appellation"]["Region"]["Name"] %>, <%= wine["Appellation"]["Name"] %><br>
  Varietal:  <%= wine["Varietal"]["WineType"]["Name"] %>, <%= wine["Varietal"]["Name"] %><br>
  Price range:  $<%= wine["PriceMin"] %> - $<%= wine["PriceMax"] %><br>
  Attributes:<br>
  <ul>
    <% wine["ProductAttributes"].each do |attribute| %>
      <li><%= raw(attribute["Name"]) %></li>
    <% end %>
  </ul>
  <br>
<% end %>
