<h1>Search for Wine</h1>
<h2>Products:</h2>

<%= form_tag(pages_search_path, :method => "get", id: "search-form", class: "form-inline") do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search], :class => "form-control", placeholder: "Search Wines" %>
    <%= submit_tag "Search", :request_query => nil, :class => "btn btn-default" %>
  </div>
<% end %>

<div id="attribution">
  Search provided by
  <a href="http://www.wine.com/" title="Wine.com the destination for Wine and Wine Gifts"><img src="http://cache.wine.com/images/logos/80x20_winecom_logo.png" alt="Wine.com the destination for Wine and Wine Gifts" /></a>
</div>

<% if @products != nil %>
  <% @products.each do |wine| %>
    <%= image_tag(wine["label"]) %><br>
    <b><%= wine["name"] %></b> by <%= wine["vineyard"] %><br>
    <%= wine["url"] %><br>
    Region, Country:  <%= wine["appellation_region"] %>, <%= wine["appellation_name"] %><br>
    Varietal:  <%= wine["varietal_type"] %>, <%= wine["varietal_name"] %><br>
    <% if wine["pricemin"] != nil %>
      Price range:  $<%= wine["pricemin"] %> - $<%= wine["pricemax"] %><br>
    <% end %>
    <% if wine["attributes"].length > 0 %>
      Attributes:<br>
      <ul>
        <% wine["attributes"].each do |attribute| %>
          <li><%= raw(attribute) %></li>
        <% end %>
      </ul>
    <% end %>
    <br>
  <% end %>
<% else %>
  <br>
  No results.
<% end %>
