<%= simple_form_for(@varietal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :api_id %>
    <%= f.input :varietal %>
    <%= f.collection_select :wine_type_id, @wine_types, :id, :wine_type, {prompt: 'Select a wine type'}, {class: 'form-control'} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
